@media screen and (max-width: 1000px) {
    body {
        background-color: lightblue;
    }
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000;
    height: 10vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#Logo {
    height: 60%;
    width: 100%;
}

#image1 {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-right: 0;
}

#text1 {
    color: white;
    width: 10%;
}

#text1-2 {
    font-weight: bold;
    font-size: 2.5vh;
    position: relative;
    left: 7.2vh;
    bottom: 2.5vh;
}

#text1-1 {
    position: relative;
    font-size: 2.1vh;
    left: 7.5vh;
    top: 0vh;
}